# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objetives:**
- List popular languages for Data Science
- Commonly used Libraries used by Data Sciencist
- Data Science Tools
- Examples of evaluating arithmetics expressions in Python

Some popular languages that Data Scientist use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. ScyPy

|Data Science Tools|
--------------------
|Jupiter Notebooks |
| RStudio |
|Apache Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to multiply then add integers.

In [57]:
(3*4)+5

17

This will convert 200 to hours by diving by 60.

In [60]:
200/60

3.3333333333333335

## Author
Raul Gomez Rodriguez